.contentList{
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}
.contentList h2{
    text-align: center;
    background-color: rgb(136, 240, 240);
}
.contentList img{
    width: 200px;
    height: 250px;
    max-width: 100%;
}