#none {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    background-color: rgb(208, 241, 230);
    color: rgb(5, 129, 20);
    margin-top: 20px;
 }
 
 #History {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(182, 202, 233);
    color: rgb(6, 6, 111);
    margin-top: 20px;
   
 }
 
 #Comedy {
    font-size: 16px;
    background-color: rgb(237, 238, 196);
    color: rgb(160, 123, 0);
    margin-top: 20px;
    
 }
 input {width: 65%; height: 30px;}
 button{width: 30%; height: 35px;
     font-size: 18px;}
 
 .highlight {
        
         background-color: rgb(238, 255, 0);
         color:rgb(240, 34, 34);
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
         font-weight: bold;
       }